<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.headache_bot</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/leranikitina/PycharmProjects/headache_bot/.venv/bin/python</string>
        <string>main.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/leranikitina/PycharmProjects/headache_bot</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/leranikitina/PycharmProjects/headache_bot/logs/bot.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/leranikitina/PycharmProjects/headache_bot/logs/bot.log</string>
</dict>
</plist>
